.note {
  background-color: #58a;
  position: relative;
  background: linear-gradient(-150deg,transparent 1.5em, #58a 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 400px;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-around;
  color: #fff;
  border-radius: 0.5em;
}

.note::before {
  content: '';
  position: absolute;
  top:0;
  right: 0;
  width: 1.73em;
  height: 3em;
  background: linear-gradient(to left bottom, transparent 50%,rgba(0,0,0,0.2) 0, rgba(0,0,0,0.4))
  100% 0 no-repeat;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom right;
  border-bottom-left-radius: inherit;
  box-shadow: -2em .2em 0.3em -0.1em rgba(0,0,0,0.15);
}

.note-btn-group {
  display: flex;
}
